body {
	height: 100%;
	margin: 30px;
	text-align: center;
	width: 97%;
	background-image: url(imagens/Bilas-pb.jpg);
	background-size: cover;
#!	color: DodgerBlue;
}

.nav {
	border-bottom: 0.15rem solid black;
#!	background-color: black;
#!	color: White;
}

.nav li{
	display: inline;
	padding-left: 100px;
	padding-right: 100px;
}

.hero {
#! background-image: url(imagens/Bilas-01.jpg);
}

h1 {
	padding-top: 10px;
	margin-left: 40rem;
	margin-right: 40rem;
	background-color: black;
	border: 4px solid DodgerBlue;
	font-size: 4rem;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	color: DodgerBlue;

}

p {
	font-size: 1.3rem;
	font-family: Verdana, sans-serif;
}
